.details-modal {
    background-color: var(--white);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.5rem;
    box-shadow: var(--blue) 0 10px 30px;
}

.details-modal-close {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.details-modal-close-btn {
    font-size: 2rem;
    cursor: pointer;
    background-color: unset;
    color: var(--blue);
    border: none;
    outline: none;
    transition: 0.4s;
}