.products-table {
    margin-top: 30px;
    width: 100%;
    background-color: var(--white);
    border-radius: 20px;
}

.products-table-heading-tr {
    text-align: center;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 0 410px 0 80px;
}

.products-table-tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 30px;
}

.products-table-heading-th {
    padding: 20px;
}

.products-table-td {
    padding: 20px;
    display: flex;
    align-items: center;
}

.products-table-img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}

.products-table-btn {
    padding: 10px 20px;
    margin-right: 20px;
    background-color: var(--blue);
    color: var(--white);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

{/*  Children of EditModal  */}
.edit-products-form-column {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.edit-products-form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--white-50);
    padding: 0 20px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.edit-products-form-group input {
    width: 100%;
    border: none;
    outline: none;
    background-color: var(--white-50);
    padding: 10px;
    border-radius: 10px;
}

.input-icon {
    font-size: 1.5rem;
    color: #858585;
}
